.background-button{
    color:black !important;
    display: flex;
    justify-content: center;
    padding: 5px 10px 5px 10px;
    transition: box-shadow 0.5s;
    border-radius: 5px;
    cursor: pointer;
}

.background-button.active{
    /* border: 2px solid black; */
    border-radius: 5px;
    box-shadow: inset 0px 0px 4px 0px grey;
    
}